<div class="row g-0 app-auth-wrapper">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
        <div class="d-flex flex-column align-content-end">
            <div class="app-auth-body mx-auto">
                <h2 class="auth-heading text-center mb-5" style="font-weight: bold;">Log in to Portal</h2>
                <div class="auth-form-container text-start">
                    <form class="auth-form login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="email mb-3">
                            <label class="sr-only" for="signin-email" style="font-weight: bold;">Username</label>
                            <input id="signin-email" name="signin-email" type="email" class="form-control signin-email small-placeholder"
                                placeholder="Username" required="required" formControlName="username">
                                <div *ngIf="loginForm?.get('username')?.invalid && (loginForm?.get('username')?.dirty || loginForm?.get('username')?.touched)"
                                                class="text-danger">Invalid</div>
                        </div><!--//form-group-->
                        <div class="password mb-3">
                            <div class="password-container">
                                <label class="sr-only" for="signin-password" style="font-weight: bold;">Password</label>
                                <div class="input-with-icon">
                                    <input id="signin-password" name="signin-password" [type]="fieldTextType? 'text' : 'password'"
                                        class="form-control signin-password small-placeholder" placeholder="Password" required="required"
                                        formControlName="password">
                                    <button type="button" class="btn btn-default btn-sm toggle-button" (click)="toggleFieldTextType()">{{fieldTextType ?
                                        'Show' :
                                        'Hide'}} </button>
                                </div>
                                <div *ngIf="loginForm?.get('password')?.invalid && (loginForm?.get('password')?.dirty || loginForm?.get('password')?.touched)"
                                    class="text-danger">Required</div>
                            </div>
                            <div class="extra mt-3 row justify-content-between">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="RememberPassword">
                                        <label class="form-check-label" for="RememberPassword">
                                            Remember me
                                        </label>
                                    </div>
                                </div><!--//col-6-->
                                <div class="col-6">
                                    <div class="forgot-password text-end">
                                        <a href="reset-password.html">Forgot password?</a>
                                    </div>
                                </div><!--//col-6-->
                            </div><!--//extra-->
                        </div><!--//form-group-->
                        <div class="text-center">
                            <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto"
                                [disabled]="loginForm.invalid">Log In</button>
                        </div>
                    </form>

                    <div class="auth-option text-center pt-5">No Account? Register <a class="text-link"
                            [routerLink]="['/register']">here</a>.</div>
                </div><!--//auth-form-container-->

            </div><!--//auth-body-->
        </div><!--//flex-column-->
    </div><!--//auth-main-col-->

</div><!--//row-->