<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl mt-5">			    
            <h1 class="app-page-title">ADD Admin/Super-admin</h1>
            <hr class="mb-4">
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-8">
                    <div class="app-card app-card-settings shadow-sm p-4">
                        
                        <div class="app-card-body">
                            <!-- <form class="adminadd-form" [formGroup]="adminaddform" (ngSubmit)="onSubmit()"> -->
                                <!-- <div class="mb-3">
                                    <label for="useradd-input-1" class="form-label">First Name<span class="ms-2" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover focus"  data-bs-placement="top" data-bs-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                    <circle cx="8" cy="4.5" r="1"/>
                                    </svg></span></label>
                                    <input type="text" class="form-control" id="useradd-input-1" required>
                                    <div *ngIf="useraddform?.get('First Name')?.invalid && (useraddform?.get('First Name')?.dirty || useraddform?.get('First Name')?.touched)" class="text-danger">First name is required and should contain only letters and spaces</div>
                                    <-- <div class="text-danger">Name is required</div> -->
                                <!-- </div> --> 
                                <div class="mb-3">
                                    <label for="useradd-input-2" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="useradd-input-1" required="required" formControlName="first_name">
                                    <div *ngIf="useraddform?.get('first_name')?.invalid && (useraddform?.get('first_name')?.dirty || useraddform?.get('first_name')?.touched)" class="text-danger">First name is required and should contain only letters and spaces</div>
                                    <!-- <div class="text-danger">Username is required</div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="useradd-input-2" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="useradd-input-2" required="required" formControlName="last_name">
                                    <div *ngIf="useraddform?.get('last_name')?.invalid && (useraddform?.get('last_name')?.dirty || useraddform?.get('last_name')?.touched)" class="text-danger">Last name is required and should contain only letters and spaces</div>
                                    <!-- <div class="text-danger">Username is required</div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="useradd-input-2" class="form-label">Username</label>
                                    <input type="username" class="form-control" id="useradd-input-3" required="required" formControlName="username">
                                    <div *ngIf="useraddform?.get('username')?.invalid && useraddform?.get('username')?.touched" class="text-danger">
                                        Username required
                                      </div>
                                    <!-- <div class="text-danger">Username is required</div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="useradd-input-3" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="useradd-input-4" required="required" formControlName="email">
                                    <div *ngIf="useraddform?.get('email')?.invalid && (useraddform?.get('email')?.dirty || useraddform?.get('email')?.touched)" class="text-danger">Please enter a valid Email</div>
                                    <!-- <div class="text-danger">Email is required</div> -->
                                </div>
                                <div class="form-group">
                                    <label for="adminToggle">Admin/Superadmin</label>
                                    <input type="checkbox" id="adminToggle" formControlName="adminToggle">
                                </div>                        
                                <button type="submit" class="btn app-btn-primary">Submit</button>
                            <!-- </form> -->
                        </div><!--//app-card-body-->
                        
                    </div><!--//app-card-->
                </div>
            </div><!--//row-->
            <hr class="my-4">
        </div><!--//container-fluid-->
    </div><!--//app-content--> 
    
</div> <!-- //app-wrapper -->

