<!-- <div class="app-wrapper"> -->

<!-- <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <h1 class="app-page-title">ADD DEVICE</h1>
      <hr class="mb-1"> -->
<!-- <div class="row g-2 settings-section"> -->
<!-- <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-8 col-md-4">
          <div class="app-card app-card-settings shadow-sm p-4">

            <div class="app-card-body"> -->
<!-- <form class="deviceadd-form" [formGroup]="deviceaddform" (ngSubmit)="onSubmit()"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
          <h1 class="app-page-title">ADD DEVICE</h1>
          <hr class="mb-1">
          <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-md-8">
              <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                  <form class="deviceadd-form" [formGroup]="deviceaddform" (ngSubmit)="onSubmit()">
                    <!-- <div class="text-danger">Username is required</div> -->
                    <div class="mb-3">
                      <label for="deviceadd-input-1" class="form-label">Username</label>
                      <input type="text" class="form-control" id="deviceadd-input-1" required="required"
                        formControlName="username">
                      <div
                        *ngIf="deviceaddform?.get('username')?.invalid && (deviceaddform?.get('username')?.dirty || deviceaddform?.get('username')?.touched)">
                      </div>
                      <!-- <div *ngIf="deviceaddform.get('ipaddress').errors?.required" class="text-danger">IP Address is required</div>
                  <div *ngIf="deviceaddform.get('ipaddress').errors?.pattern" class="text-danger">Invalid IP Address format</div> -->
                    </div>
                    <div class="mb-3">
                      <label for="deviceadd-input-2" class="form-label">Device IP-Address</label>
                      <input type="text" class="form-control" id="deviceadd-input-2" required="required"
                        formControlName="ipaddress">
                      <div
                        *ngIf="deviceaddform?.get('ipaddress')?.invalid && (deviceaddform?.get('ipaddress')?.dirty || deviceaddform?.get('ipaddress')?.touched)">
                      </div>
                      <!-- <div *ngIf="deviceaddform.get('ipaddress').errors?.required" class="text-danger">IP Address is required</div>
                  <div *ngIf="deviceaddform.get('ipaddress').errors?.pattern" class="text-danger">Invalid IP Address format</div> -->
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="deviceadd-input-3" class="form-label">Start Date</label>
                          <input type="date" formControlName="startDate" class="form-control" id="startDate"
                            required="required">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="deviceadd-input-4" class="form-label">Start Time</label>
                          <input type="time" formControlName="startTime" class="form-control" id="startTime"
                            required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="deviceadd-input-5" class="form-label">End Date</label>
                          <input type="date" formControlName="endDate" class="form-control" id="endDate" required="required">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="deviceadd-input-6" class="form-label">End Time</label>
                          <input type="time" formControlName="endTime" class="form-control" id="endTime" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="text-center" style="font-weight: bold;">
                      <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto"
                          [disabled]="deviceaddform.invalid">Submit</button>
                  </div>
                    <!-- <button type="submit" class="btn app-btn-primary">Submit</button> -->
                  </form>
                </div><!--//app-card-body-->

              </div><!--//app-card-->
            </div>
          </div><!--//row-->
          <hr class="my-4">
        </div><!--//container-fluid-->
      </div><!--//app-content-->

      <!-- </div> //app-wrapper -->