<!-- Top Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-lightgreen navbar-custom">
  <div class="container-fluid d-flex flex-column align-items-start">
    <!-- Brand -->
    
      <a class="navbar-brand mb-2" routerLink="#">Rutomatrix-Hub</a>
      <a (click)="toggleSidebar()" class="btn-close-sidebar text-white">
        <span class="fs-5">&#8801; Menu</span> <!-- Menu icon -->
      </a>
    </div>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
</nav>

<!-- Side Navigation Bar -->
<div class="d-flex">
  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-lightgreen sidebar" [class.active]="isSidebarActive">
    <!-- <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white"> -->
      <!-- Menu items -->
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link align-middle px-10 text-white">
            <i class="fs-4 bi-list"></i> <span class="ms-1 d-none d-sm-inline">Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link align-middle px-10 text-white">
            <i class="fs-4 bi-list"></i> <span class="ms-1 d-none d-sm-inline">Register</span>
          </a>
        </li>
        <!-- Add more menu items here -->
      </ul>
  </div>
  <div class="container-fluid">
    <!-- Content of child components will be displayed here -->
    <router-outlet></router-outlet>
  </div>
</div> 
