<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">
                    <h2 class="app-page-title">Register to Portal</h2>
                    <hr class="mb-1">
                    <div class="row g-3 mb-4 align-items-center justify-content-between">
                        <div class="col-md-8">
                            <div class="app-card app-card-settings shadow-sm p-4">
                                <div class="app-card-body">
                                    <form class="auth-form auth-signup-form" [formGroup]="registerForm"
                                        (ngSubmit)="onSubmit()" novalidate>
                                        <div class="mb-3">
                                            <label for="signup-email" style="font-weight: bold;">First Name</label>
                                            <input id="signup-fname" name="signup-fname" type="text"
                                                class="form-control signup-name small-placeholder"
                                                placeholder="Enter your first name" required="required"
                                                formControlName="first_name">
                                            <div *ngIf="registerForm?.get('first_name')?.invalid && (registerForm?.get('first_name')?.dirty || registerForm?.get('first_name')?.touched)"
                                                class="text-danger">First name is required</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="signup-email" style="font-weight: bold;">Last Name</label>
                                            <input id="signup-lname" name="signup-lname" type="text"
                                                class="form-control signup-name small-placeholder"
                                                placeholder="Enter your last name" required="required"
                                                formControlName="last_name">
                                            <div *ngIf="registerForm?.get('last_name')?.invalid && (registerForm?.get('last_name')?.dirty || registerForm?.get('last_name')?.touched)"
                                                class="text-danger">Last name is required</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="signup-email" style="font-weight: bold;">Username</label>
                                            <input id="signup-username" name="signup-lname" type="text"
                                                class="form-control signup-name small-placeholder"
                                                placeholder="Create an username" required="required"
                                                formControlName="username">
                                            <div *ngIf="registerForm?.get('username')?.invalid && (registerForm?.get('username')?.dirty || registerForm?.get('username')?.touched)"
                                                class="text-danger">Username is required</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="signup-email" style="font-weight: bold;">Email</label>
                                            <input id="signup-email" name="signup-email" type="email"
                                                class="form-control signup-email small-placeholder"
                                                placeholder="Enter a valid Email" required="required"
                                                formControlName="email">
                                            <div *ngIf="registerForm?.get('email')?.invalid && (registerForm?.get('email')?.dirty || registerForm?.get('email')?.touched)"
                                                class="text-danger">Invalid email</div>
                                        </div>
                                        
                                            
                                                
                                                <!-- <div class="input-with-icon">
                                                    <input id="signup-password1" name="signup-password" [type]="fieldTextType ? 'text' : 'password'"
                                                        class="form-control signup-password small-placeholder" placeholder="Create new password"
                                                        required="required" formControlName="password1">
                                                    <i class="fa toggle-password" (click)="toggleFieldTextType()"
                                                    [ngClass]="{
                                                    'fa-eye-slash': !fieldTextType,
                                                    'fa-eye': fieldTextType
                                                    }" ></i>
                                                </div>     -->
                                                
                                                        <!-- <i class="fas fa-eye" *ngIf="show" (click)="password()"></i>
                                                        <i class="fas fa-eye-slash" *ngIf="!show" (click)="password()"></i> -->
                                                    <!-- <i class="fa toggle-password"
                                                    [ngClass]="{
                                                    'fa-solid fa-eye-slash': !fieldTextType, 
                                                    'fa-solid fa-eye': fieldTextType,
                                                    }" (click)="toggleFieldTextType()"></i> -->
                                                

                                            <!-- <div class="password mb-3">
                                                <div class="password-container">
                                                    <label for="signup-password1" style="font-weight: bold;">Create Password</label>
                                                    <div class="input-with-icon">
                                                        <input id="signup-password1" name="signup-password" [type]="fieldTextType ? 'text' : 'password'"
                                                            class="form-control signup-password small-placeholder" placeholder="Create new password"
                                                            required="required" formControlName="password">
                                                        <button type="button" class="btn btn-default btn-sm" (click)="toggleFieldTextType()">
                                                            {{fieldTextType ? 'Show' : 'Hide'}}
                                                        </button>
                                                    </div>
                                            
                                                    <div class="text-danger"
                                                        *ngIf="registerForm.get('password')?.invalid && (registerForm?.get('password')?.dirty || registerForm.get('password')?.touched)">
                                                        Password is required.
                                                    </div>
                                                    <div class="text-danger"
                                                        *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched">
                                                        Password must be at least 8 characters long.
                                                    </div>
                                                    <div class="text-danger"
                                                        *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">
                                                        Password must contain at least one uppercase letter, one lowercase
                                                        letter, one number, and one special character.
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="password mb-3">
                                                <div class="password-container">
                                                    <label for="signup-password1" style="font-weight: bold;">Create Password</label>
                                                    <div class="input-with-icon">
                                                        <input id="signup-password1" name="signup-password" [type]="fieldTextType ? 'text' : 'password'"
                                                            class="form-control signup-password small-placeholder" placeholder="Create new password"
                                                            required="required" formControlName="password">
                                                        <button type="button" class="btn btn-default btn-sm toggle-button" (click)="toggleFieldTextType()">{{fieldTextType ? 'Show' :
                                                            'Hide'}}
                                                            <!-- <i class="fa" [ngClass]="[ fieldTextType ? 'fa-eye' : 'fa-eye-slash' ]"></i> -->
                                                            <!-- <i class="fa" [class.fa-eye]="fieldTextType" [class.fa-eye-slash]="!fieldTextType"></i> -->
                                                            <!-- <i class="fa" [ngClass]="{'fa-eye': fieldTextType, 'fa-eye-slash': !fieldTextType}"></i> -->
                                                        </button>
                                                    </div>
                                                    <div class="text-danger"
                                                        *ngIf="registerForm.get('password')?.invalid && (registerForm?.get('password')?.dirty || registerForm.get('password')?.touched)">
                                                        Password is required.
                                                    </div>
                                                    <div class="text-danger"
                                                        *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched">
                                                        Password must be at least 8 characters long.
                                                    </div>
                                                    <div class="text-danger"
                                                        *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">
                                                        Password must contain at least one uppercase letter, one lowercase
                                                        letter, one number, and one special character.
                                                    </div>
                                                </div>
                                            </div>                                            
                                        <div class="password mb-3">
                                            <label for="signup-password2" style="font-weight: bold;">Confirm
                                                Password</label>
                                            <div class="input-with-icon">
                                                <input id="signup-password2" name="signup-password" [type]="repeatFieldTextType? 'text' : 'password'"
                                                    class="form-control signup-password small-placeholder" placeholder="Re-enter your password" required="required" formControlName="password2">
                                                <button type="button" class="btn btn-default btn-sm" (click)="toggleRepeatFieldTextType()">{{repeatFieldTextType ? 'Show' :
                                                    'Hide'}}</button>
                                            </div>
                                            <div class="text-danger" *ngIf="registerForm.errors?.['PasswordNoMatch']">
                                                Password doesn't match.
                                            </div>
                                        </div>
                                        <div class="text-center" style="font-weight: bold;">
                                            <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto"
                                                [disabled]="registerForm.invalid">Sign Up</button>
                                        </div>
                                    </form><!--//auth-form-->
                                    <div class="auth-option text-center pt-5">Existing User? Login <a class="text-link"
                                            [routerLink]="['/login']">here</a>.</div>
                                </div>
                            </div>
                        </div><!-- container-fluid -->
                    </div><!-- row -->
                </div><!-- container-xl-->
            </div><!-- app-content -->
        </div><!-- col -->
    </div><!-- row -->
    <div *ngIf="registrationSuccess" class="alert alert-success">
        User registered successfully!
      </div>      
</div><!-- container-fluid -->